// .admin-container {
//   padding: 15px;
// }

// .location-grid,
// .comment-grid,
// .route-grid {
//   box-shadow: 0 2px 10px 0 rgb(58 59 69 / 15%);
// }

.location-grid {
  width: 80vw;
}
// .location-grid-container {
//   padding-bottom: 30px;
// }

// .comments-wrapper {
//   position: relative;
//   padding: 12px;

//   .comment-user {
//     font-size: 16px;
//     font-weight: 500;
//   }

//   .comment-date {
//     font-size: 12px;
//     font-weight: 500;
//     line-height: 1;
//     margin-bottom: .5rem;
//   }

//   .comment-body {
//     font-size: 16px;
//   }
// }

.google-maps {
  width: 100%;

}




@media only screen and (min-width: 700px) {
  .locwindow{
    width: 64vw;
    left: 1vw;
    position: absolute;
  }

  .mapswindow{
    width: 33vw;
    right: 1vw;
    position: absolute;
    height: 89vh;
  }

  .routewindow{
    width: 64vw;
    left: 1vw;
    bottom: 1vh;
    position: absolute;
    max-height: 42vh;
    min-height: 42vh;

  }

}


.e-statustext{
  position: absolute;
  top: 0px;
  background-color: white;
}


.mat-selection-list .mat-list-option .mat-line{
  word-wrap: break-word;
 white-space: pre-wrap;
}

.mat-selection-list .mat-list-option{
  height:initial!important;
}